.header_estilo {
  font-family: monospace;
}

.navbar-brand {
  font-size: 40px !important;
}

.main_div_organizacion {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  margin-left: auto !important;
  margin-right: auto !important;
}

.main_div_estilos {
  font-family: monospace !important;
}

.nav_a{
  background-color: black;
  color: #ffffff;
  text-decoration: none;
  border-radius: 20px;
  padding: 8px;
  text-align: center;
}
.main_div_a {
  text-decoration: none;
  border-radius: 40px;
  padding: 30px 35px 30px 35px;
}

.main_div_a_pink {
  background-color: #dd356e;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 20px;
  padding: 8px;
}

.main_div_a_yellow {
  background-color: #fee856;
  color: black;
}

.main_div_a-hover:hover {
  transform: translate(5px, -5px);
  /* Añadimos una sombra debajo del elemento */
  box-shadow: 4px 6px 10px gray;
  transition: 0.1s;
  text-decoration: none;

  .main_div_a_yellow {
    color: black !important;
  }
}

.main_div_h1 {
  font-size: 4em;
}

.main_div_h4 {
  font-size: 15px;
}

.main_div_separacion {
  padding-bottom: 10em;
}

.main_organizacion_box {
  display: flex !important;
  justify-content: center;
}

.carousel {
  width: 70em !important;
}

.producto_imagen_chica1,
.producto_imagen_chica2,
.producto_imagen_chica3,
.imagenChicaPopup {
  display: none !important;
}

@media only screen and (max-width: 415px) {
  .main_div_organizacion {
    padding-left: 2em;
    padding-right: 2em;
  }

  .main_div_separacion {
    padding-bottom: 5em;
  }

  .main_div_a{
    margin: 20px;
  }
  .main_div_h1 {
    font-size: 2em;
  }

  .table > :not(caption) > * > * {
    padding: 2.5rem 0.5rem !important;
  }

  .card-img-overlay {
    position: inherit;
    color: black;
    background-color: rgb(219, 219, 219);
  }

  .d-none {
    display: block !important;
  }

  .row {
    padding: 10px !important;
  }

  .botones_inicio {
    display: flex !important;
    align-items: center !important;
  }

  .organizacion_popup{
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .parte_derecha_popup h1{
    font-size: 1.5em;
  }
  .parte_derecha_popup p{
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content-popup{
    width: 300px !important;
    min-height: 0px !important;
  }

  #carouselExampleInterval{
    display: none !important;
  }
  .org_botones_sesion{
    flex-direction: column;
    align-items: flex-start !important;
  }

  .org_ficha_unidad{
    flex-direction: column;
    align-items: center;
    padding: 5px !important;
  }

  .org_ficha{
    margin: 2rem;
  }
  .org_box{
    grid-template-columns: auto !important;
  }

  .org_carga_form{
    margin:1rem !important;
  }
  
  .org_carga_tabla{
    margin:1rem !important;
  }



}

.table > :not(caption) > * > * {
  padding: 2.5rem 1.5rem;
}

.table_a {
  text-decoration: none;
}

body {
  font-family: monospace !important;
}

.row {
  padding: 50px 160px 100px 160px;
}

.me-auto {
  margin-right: 0 !important;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: space-between;
  }

  .card-title,
  .card-text {
    background-color: #b3b3b345;
    width: fit-content;
  }
}

.card {
  width: 70em;
}

.form-control {
  border: 1px solid #000000 !important;
}

.table {
  border: #000000;
}

.form-select {
  border: var(--bs-border-width) solid #000000 !important;
}

/* Estilos del popup */
#popup {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1001;
}
.content-popup {
  margin: 0px auto;
  margin-top: 120px;
  position: relative;
  width: 500px;
  min-height: 250px;
  border-radius: 4px;
  background-color: #000000;
  box-shadow: 0 2px 5px #666666;
  
}
.content-popup h2 {
  color: #ffffff;
  margin-top: 0;
  padding-bottom: 4px;
}
.popup-overlay {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  display: none;
  background-color: #777777;
  cursor: pointer;
  opacity: 0.7;
}
.close {
  position: absolute;
  right: 15px;
}

#close{
  text-decoration: none;
  color: #ffffff !important;

}

.organizacion_popup{
  display: flex;
  color: white;
  text-align: center;
}

.mail_popup{
  width: auto !important;
  margin: 10px;
}

.parte_derecha_popup{
  padding: 10px;
}

.p_popup{
  margin: 0 !important;
}

main a{
  padding: 0px;
}

#carouselExampleInterval{
  margin-top: 4em;
}


.org_registro{
  border-radius: 10px;
}


.org_box{
  display: grid;
  grid-template-columns: 30% 50%;
}

.centrado_popup{
  display: flex !important;
  justify-content: center !important;
}

.org_botones_sesion{
  display: flex;
  align-items: center;
}

.separacion_botones_sesion{
  padding: 10px;
}

p{
  margin: 0 !important;
}

.org_ficha{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.org_ficha_unidad{
  border: 1px solid;
  border-radius: 20px;
  display: flex;
  padding: 20px;
}
.org_a_box{
  display: flex;
}

.org_ficha_separacion{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.org_box_separacion{
  display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.org_carga_form{
  margin:5rem;
}

.org_carga_tabla{
  text-align: center;
  margin: 5rem;
}

.logo{
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
}

.org_carrito{
  display: flex;
  align-items: center;
    flex-direction: column;
}

.tbody, td, tfoot, th, thead, tr {
  border-width: 1px !important; 
}

.org_miscompras{
display: flex;
align-items: center;
    flex-direction: column;
}