body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
   padding-top: 10em;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    max-height: fit-content;
}

.separacion_h4_carrousel{
    padding-top: 4em;
}